  .header__border {
    max-width: 880px;
    margin: 0 auto;
    padding: 41px 0 0 0;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
  }

  @media screen and (max-width: 450px) {
    .header__border {
      padding: 31px 0 0 0;
    }
  }
